<!DOCTYPE html>
<html>
<head>
	<title>Feedback SBRM 2024</title>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />
    <link rel="stylesheet" href="../../public/css/lib/bootstrap-sweetalert/sweetalert.css">
    <link rel="stylesheet" href="../../public/css/separate/vendor/sweet-alert-animations.min.css">
</head>
<body>

    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h1 class="text-center">Encuesta de satisfacción.</h1>
                <h3 class="text-center">SBRM 2024 El Salvador.</h3>
            </div>
        </section>
        <hr><br />
        <section class="row">
            <section class="col-md-12">
                <h3>Datos del participante</h3>
                <p></p>
            </section>
        </section>
        <section class="row">
            <section class="col-md-12">
                <section class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="nombreCompleto">Nombre completo</label>
                            <input type="text" class="form-control" name="usu_nom" id="usu_nom" readonly>
                        </div>
                    </div>
                </section>               
                <section class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombreCompleto">Correo</label>
                            <input type="text" class="form-control" id="lblnomidticket" name="lblnomidticket" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombreCompleto">Telefono</label>
                            <input type="text" class="form-control" id="lblfechcierre" name="lblfechcierre" readonly>
                        </div>
                    </div>
                </section>
                <section class="row">
                    <div class="col-md-4">
                        <label for="tipoAtencion">Certificado</label>
                        <input type="text" class="form-control" id="cat_nom" name="cat_nom" readonly>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="fechaActual">Fecha inicio</label>
                            <input type="text" class="form-control" id="cats_nom" name="cats_nom" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="fechaActual">Fecha final</label>
                            <input type="text" class="form-control" id="prio_nom" name="prio_nom" readonly>
                        </div>
                    </div>

            </section>
        </section>
        <hr />

        <section class="row">
                <div class="col-md-12">
                    <h3></h3>
                    <p></p>
                </div>
            </section>

        <div id="panel1">
            <section class="row">
                <div class="col-md-12">
                    <h3>Ayudanos contestando las siguientes preguntas.</h3>
                    <p></p>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">1. What do you think about  the logistics management prior to the event?:</label>
                        <div class="col-md-12 text-center">
                            <input id="tick_estre" name="tick_estre" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0">
                        </div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">2. How would you rate the communication prior to the event?:</label>
                        <div class="col-md-12 text-center">
                            <input id="tick_estre" name="tick_estre" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0">
                        </div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">3. How would you rate the information provided for reaching the event venue?:</label>
                        <div class="col-md-12 text-center">
                            <input id="tick_estre" name="tick_estre" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0">
                        </div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">4. What aspects do you believe we should improve?:</label>
                        <textarea id="tick_coment" name="tick_coment" class="form-control" rows="6" id="comentarios"></textarea>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">5. What do you think about the event opening, where it started in English?:</label>
                        <div class="col-md-12 text-center">
                            <input id="tick_estre" name="tick_estre" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0">
                        </div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">6. What do you think of the poster fair?:</label>
                        <div class="col-md-12 text-center">
                            <input id="tick_estre" name="tick_estre" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0">
                        </div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">7. What do you think of the branch fair?:</label>
                        <div class="col-md-12 text-center">
                            <input id="tick_estre" name="tick_estre" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0">
                        </div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">8. What aspects do you believe we should improve?:</label>
                        <textarea id="tick_coment" name="tick_coment" class="form-control" rows="6" id="comentarios"></textarea>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">09. What do you think of the spaces offered by the societies on the second day? (Technical talks and society fair):</label>
                        <div class="col-md-12 text-center">
                            <input id="tick_estre" name="tick_estre" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0">
                        </div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">10. What do you think about the gala dinner?:</label>
                        <div class="col-md-12 text-center">
                            <input id="tick_estre" name="tick_estre" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0">
                        </div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">11. What aspects do you think we should improve?:</label>
                        <textarea id="tick_coment" name="tick_coment" class="form-control" rows="6" id="comentarios"></textarea>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">12. What do you think of the spaces and different talks we had throughout the day?:</label>
                        <div class="col-md-12 text-center">
                            <input id="tick_estre" name="tick_estre" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0">
                        </div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="comment">13. What do you think of the Nations Fair?:</label>
                        <div class="col-md-12 text-center">
                            <input id="tick_estre" name="tick_estre" class="rating rating-loading" data-min="0" data-max="5" data-step="1" value="0">
                        </div>
                    </div>
                </div>
            </section>

            <section class="row d-flex justify-content-center align-items-center" style="height: 10vh;">
               <div class="col-md-12 text-center">
                  <h5>Muchas gracias por completar esta encuesta</h5>
                    </div>
            </section>

            <section class="row d-flex justify-content-center align-items-center" style="height: 10vh;">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-info" id="btnguardar">Guardar Encuesta</button>
    </div>
</section>


        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>
<script src="../../public/js/lib/bootstrap-sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="encuesta.js"></script>
<script>
    $('#tick_estre').rating({ 
        showCaption: false
    });
</script>
</body>
</html>